<!DOCTYPE html>
<html>
<head>
	<title>User Login Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        {{if .Alert}}
              <h4 class={{.Color}}>{{.Alert}}</h4>
              {{end}}
        <form action="/signup" method="post">
          <div class="form-group">{{if .FirstName}} <!--to show if first name error-->
            <p style="color: rgb(154, 0, 0); font-size: medium;">{{.FirstName}}</p>
            {{else}}
            <label for="first-name">First Name:</label>
            {{end}}
            <input type="text" name="fname" class="form-control" id="first-name" placeholder="Enter first name">
          </div>
          <div class="form-group">
            {{if .LastName}}
                      <p style="color: rgb(154, 0, 0); font-size: medium;">{{.LastName}} </p>
                      {{else}}
            <label for="last-name">Last Name:</label>
            {{end}}
            <input type="text" name="lname" class="form-control" id="last-name" placeholder="Enter last name">
          </div>
          <div class="form-group">
            {{if .Email}}
            <p style="color: rgb(154, 0, 0);">{{.Email}}</p>
            {{else}}
            <label for="email">Email:</label>
            {{end}}
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="form-group">{{if .Password}}
            <p style="color: rgb(154, 0, 0);">{{.Password}}</p>
            {{else}}
            <label for="password">Password:</label>
            {{end}}
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
          <p>Already have an account? <a href="/">Login here</a>.</p>
        </form>
      </div> 
</body>
</html>